*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4ff;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.containerBox{
    width: 300px;
    height: 600px;
    padding: 20px 20px 10px 20px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px #3333333b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    padding-top: 20%;
}
.box h1, div{
    text-align: center;
}
#logo{
    width: 150px;
}
.button input{
    width: 90%;
    margin-bottom: 10px;
    padding: 40px  20px 10px 0;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    outline: none;
}
button{
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    border: none;
    background-color: #1791C8;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(169, 237, 242);
    cursor: pointer;
}
.loginCriar p{
    margin-top: 90px;
    font-size: 12px;
}
